<template>
    <formmodulo  @save="save" :haveSave="$permission.get('modulo').can('create')"></formmodulo>
</template>
<script>
export default {
    methods: {
        save(values) {
            this.$externalService.post('modulo',values, r=>{
                    this.$notification.show("success","Modulo criado com sucesso!");
                    this.$broadcast.$emit('updateModulo');
                });
        }
    },
}
</script>
