<template>
    <formmodulo :dados="dados" @save="save" :haveSave="$permission.get('modulo').can('update')"></formmodulo>
</template>
<script>
export default {
    props: ['dados'],
    methods: {
        save(values) {
            this.$externalService.put('modulo',values.id,values, r=>{
                    this.$notification.show("success","Módulo editado com sucesso!");
                    this.$broadcast.$emit('updateModulo');
                });
        }
    },
}
</script>
