<template>
    <formusuarioperfil @save="save" :haveSave="$permission.get('usuarioperfil').can('create')" :dados="{nome_usuario:usuario.nome}"></formusuarioperfil>
</template>
<script>
export default {
    props: {
        usuario: [Array,Object]
    },
    methods: {
        save(values) {
            this.$externalService.post('usuarioperfil',{...values,usuario:this.usuario.id}, r=>{
                    this.$notification.show("success","Perfil do usuário foi criado com sucesso!");
                    this.$broadcast.$emit('updateUsuarioPerfil');
                }, e=>{
                    this.$notification.show("error","Houve um erro ao alterar o perfil do usuário, verifique o console.");
                } );
        }
    },
}
</script>
