<template>
    <formusuarioperfil :dados="dados" @save="save" :haveSave="$permission.get('usuarioperfil').can('update')"></formusuarioperfil>
</template>
<script>
export default {
    props: ['dados'],
    methods: {
        save(values) {
            this.$externalService.put('usuarioperfil',values.id,values, r=>{
                    this.$notification.show("success","Perfil do usuário editado com sucesso!");
                    this.$broadcast.$emit('updateUsuarioPerfil');
                }, e=>{
                    this.$notification.show("error","Houve um erro ao alterar o perfil do usuário, verifique o console.");
                } );
        }
    },
}
</script>
