<template>
    <div class="row">
        <div class="col-md-12 p-4">
            <btn type="primary" size="xs" @click="modalImport = true">Importar</btn>
            <btn type="primary" size="xs" @click="modalPreview = true">Visualizar</btn>
            <btn type="success" size="xs" @click="$emit('save',shematics)" v-if="haveSave">Salvar</btn>
        </div>
        <div class="col-md-2 mr-0 pr-0">
            <draggable
                tag="ul"
                :list="list"
                class="section-group"
                :group="{ name: 'section', pull: 'clone', put: false }"
                :clone="onClone"
                style="padding: 0;"
            >
                <li
                    class="list-group-item text-uppercase"
                    v-for="(element, idx) in list"
                    :key="idx"
                >
                    <span class="text">{{ element.name }} </span>
                    <i class="fa fa-plus-circle pull-right"></i>
                </li>
            </draggable>
        </div>
        <div class="col-md-10 ml-0 pl-1" id="editorshematics">
            <tabs>
                <tab title="Editor">
                    <draggable
                        tag="div"
                        group="section"
                        :list="shematics"
                        style="border: 1px solid #ccc; min-height: 50px"
                        class="p-2"
                    >
                        <div class="container">
                            <div v-for="(element, idx) in shematics" :key="idx">
                                <div :class="element.titleClass">
                                    <div class="row">
                                        <p
                                            class=" p-0 mb-2 bg-tsj text-white text-uppercase"
                                        >
                                            {{ element.titulo }}
                                            <i
                                                class="fa fa-times close fa-2x close-section"
                                                @click="
                                                    removeAt(shematics, idx)
                                                "
                                            ></i>
                                            <i
                                                class="fa fa-pencil close fa-2x close-section"
                                                @click="
                                                    editSection(element, idx)
                                                "
                                            ></i>
                                        </p>
                                    </div>
                                    <draggable
                                        tag="div"
                                        style="border: 1px solid rgb(65 195 239); min-height: 20px; clear:both; overflow: auto;"
                                        group="section"
                                        :list="element.childs"
                                    >
                                        <div
                                            v-for="(child,
                                            _idx) in element.childs"
                                            :key="_idx"
                                            style="border: 1px solid rgb(65 195 239);"
                                            :class="child.class"
                                        >
                                            <label>{{ child.label }}</label>
                                            <i
                                                class="fa fa-times close fa-2x close-child"
                                                @click="
                                                    removeAt(
                                                        element.childs,
                                                        idx
                                                    )
                                                "
                                            ></i>
                                            <i
                                                class="fa fa-pencil close fa-2x close-child"
                                                @click="editChild(child, idx)"
                                            ></i>
                                            <elementd
                                                :component="child.component"
                                                :id="child.model"
                                                :type="child.type"
                                                :placeholder="child.hint"
                                                :class="child.elemClass"
                                                :keys="child.keys"
                                            ></elementd>
                                        </div>
                                    </draggable>
                                </div>
                            </div>
                        </div>
                    </draggable>
                </tab>
                <tab title="JSON">
                    <div class="col-md-12 mt-4">
                        <pre>{{ valueString }}</pre>
                    </div>
                </tab>
            </tabs>
        </div>
        <modal v-model="modalSection" title="Editar Seção" size="lg">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="nome-titulo">Título</label>
                    <input
                        type="text"
                        id="nome-titulo"
                        class="form-control"
                        v-model="sectionEditing.shematics.titulo"
                    />
                </div>
                <div class="form-group col-md-12">
                    <label for="classe-sessao">Classes</label>
                    <input
                        type="text"
                        id="classe-sessao"
                        class="form-control"
                        v-model="sectionEditing.shematics.class"
                    />
                </div>
            </div>
            <div slot="footer">
                <btn @click="modalSection = false" type="primary">FECHAR</btn>
            </div>
        </modal>
        <modal v-model="modalChild" title="Editar Child" size="lg">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="nome-child">Título</label>
                    <input
                        type="text"
                        id="nome-titulo"
                        class="form-control"
                        v-model="sectionEditing.shematics.label"
                    />
                </div>
                <div class="form-group col-md-12">
                    <label for="component-child">Classes</label>
                    <input
                        type="text"
                        id="classe-sessao"
                        class="form-control"
                        v-model="sectionEditing.shematics.class"
                    />
                </div>
                <div class="form-group col-md-12">
                    <label for="classe-sessao">Componente</label>
                    <input
                        type="text"
                        id="classe-sessao"
                        class="form-control"
                        v-model="sectionEditing.shematics.component"
                    />
                </div>
                <div class="form-group col-md-12">
                    <label for="classe-sessao">Classes Componente</label>
                    <input
                        type="text"
                        id="classe-sessao"
                        class="form-control"
                        v-model="sectionEditing.shematics.elemClass"
                    />
                </div>
                <div class="form-group col-md-12">
                    <label for="classe-sessao">Opções Adicionais</label>
                    <textarea
                        type="text"
                        id="classe-sessao"
                        class="form-control"
                        @input="changeValue"
                    >{{ sectionEditing.shematics.keys }}</textarea>
                </div>
                <div class="form-group col-md-12">
                    <label for="classe-sessao">Vue Model</label>
                    <input
                        type="text"
                        id="classe-sessao"
                        class="form-control"
                        v-model="sectionEditing.shematics.model"
                    />
                </div>
            </div>
            <div slot="footer">
                <btn @click="modalChild = false" type="primary">FECHAR</btn>
            </div>
        </modal>
        <modal v-model="modalImport" title="Editar Seção" size="lg">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Texto JSON</label>
                    <textarea
                        type="text"
                        class="form-control"
                        v-model="importedShematics"
                    ></textarea>
                </div>
            </div>
            <div slot="footer">
                <btn @click="modalImport = false" type="primary">FECHAR</btn>
            </div>
        </modal>
        <modal v-model="modalPreview" title="Pré-visualizar" size="lg">
            <div class="row">
                <dynamicform :shematics="shematics"></dynamicform>
            </div>
            <div slot="footer">
                <btn @click="modalPreview = false" type="primary">FECHAR</btn>
            </div>
        </modal>
    </div>
</template>

<script src="./LayoutBuilder.js"></script>

<style>
#editorshematics .close-section {
    color: white !important;
    opacity: 1;
    font-size: 1.3em;
}
#editorshematics .close-child {
    color: #888;
    opacity: 1;
    font-size: 1.3em;
}
</style>
