<template>
    <formpermissaomenu :haveSave="$permission.get('permissaomenu').can('create')" @save="save" :menu="menu" :dados="{menu:idmenu}"></formpermissaomenu>
</template>
<script>
export default {
    props: ['menu','idmenu'],
    methods: {
        save(values) {
            this.$externalService.post('permissaomenu',values, r=>{
                    this.$notification.show("success","Menu criado com sucesso!");
                    this.$broadcast.$emit('updatePermissaoMenu');
                }, e=>{
                    this.$notification.show("error","Houve um erro ao registrar o menu, verifique o console.");
                } );
        }
    },
}
</script>
