<template>
    <formpermissaomenu :dados="dados" @save="save" :haveSave="$permission.get('permissaomenu').can('update')"></formpermissaomenu>
</template>
<script>
export default {
    props: ['dados'],
    methods: {
        save(values) {
            this.$externalService.put('permissaomenu',values.id,values, r=>{
                    this.$notification.show("success","Menu editado com sucesso!");
                    this.$broadcast.$emit('updatePermissaoMenu');
                }, e=>{
                    this.$notification.show("error","Houve um erro ao alterar o menu, verifique o console.");
                } );
        }
    },
}
</script>
