<template>
<div class="col-md-12">
    <div v-for="(shematic,index) in shematics" :key="index" :class="shematic.class">
        <div :class="shematic.titleClass">
            <div class="row">
                <p class=" p-0 mb-2 bg-tsj text-white text-uppercase">{{ shematic.titulo }}</p>
            </div>
        </div>
        <div v-for="(child,_index) in shematic.childs" :key="_index" :class="child.class" ref="params">
            <label v-if="child.label!=undefined&&child.label!=null&&child.label!=''" :for="child.model">{{ child.label }}</label>
            <elementd
                :component="child.component"
                :id="child.model"
                :ref="child.model"
                :type="child.type"
                :placeholder="child.hint"
                :class="child.elemClass"
                v-model="values[child.model]"
                :keys="tratarChave(child)"
                @click="tratarEvent($event,'click',child,_index)"
                @input="tratarEvent($event,'input',child,_index)"
                @change="tratarEvent($event,'change',child,_index)"
                @focus="tratarEvent($event,'focus',child,_index)"
                @blur="tratarEvent($event,'blur',child,_index)"
                @keydown="setValue($event,_index)">{{ values[child.model] }}</elementd>
        </div>
    </div>
</div>
</template>
<script src="./DynamicForm.js"></script>
