<template>
<div class="container">
    <div class="mb-2 content">
        <div class="row">
            <div class="col-md-4">
                <h1 class="h3 mt-0">Usuários</h1>
            </div>
            <div class="col-md-8">
                <div class="float-right">
                    <btn v-if="$permission.get('usuario').can('create')" type="primary" size="xs" @click.prevent="$abaService.addComponent('Criar Usuário','createusuario',{})">
                        Novo
                    </btn>
                </div>
            </div>
        </div>
    </div>
    <div>
        <dtable
            :dados="dados"
            :headers="headers"
            :columns="columns"
            :classTh="'text-dark text-uppercase'"
            id="tb_ocorrencia_list"
            :totalPage="totalPage"
            v-model="currentPage"></dtable>
    </div>
</div>
</template>
<script src="./Usuario.js"></script>
