<template>
    <formmenu @save="save" :dados="dados" :menu="menu" :haveSave="$permission.get('menu').can('create')&&noCreated"></formmenu>
</template>
<script>
export default {
    props: ['menu','dados'],
    data() {
        return {
            noCreated: true
        }
    },
    methods: {
        save(values) {
			if((values.submenu == ''||values.submenu==undefined||values.submenu==null) && this.menu) {
				values.submenu = this.menu;
            }
            this.$externalService.post('menu.crud',values, r=>{
                    this.$notification.show("success","Menu criado com sucesso!");
                    this.$broadcast.$emit('updateMenu');
                    this.noCreated = false;
                });
        }
    },
}
</script>
