<template>
    <formmenu :dados="dados" @save="save" :haveSave="this.$permission.get('menu').can('update')"></formmenu>
</template>
<script>
export default {
    props: ['dados'],
    methods: {
        save(values) {
            this.$externalService.put('menu.crud',values.id,values, r=>{
                    this.$notification.show("success","Menu editado com sucesso!");
                    this.$broadcast.$emit('updateMenu');
                });
        }
    },
}
</script>
