<template>
    <formpermissao :dados="dados" @save="save" :haveSave="$permission.get('permissao').can('create')"></formpermissao>
</template>
<script>
export default {
    props: ['dados'],
    methods: {
        save(values) {
            this.$externalService.post('permissao',values, r=>{
                    this.$notification.show("success","Permissão criado com sucesso!");
                    this.$broadcast.$emit('updatePermissao');
                });
        }
    },
}
</script>
