<template>
    <div v-if="menu.nome!='SAIR'" class="col-lg-2 col-sm-3 col-md-3 btn-panel-dashboard"
    @click="$fireEvent.onClickAba().click(menu)">
        <div style="margin: auto;">
            <div class="text-info btn-panel-dashboard-content text-center" align="center" style="margin-bottom: 10px;">
                <button class="btn btn-lg btn-circle" :class="index%2!=0?'btn-info':'btn-primary'" style="margin-bottom: 5px;">
                    <i v-bind:class="'fa fa-' + menu.icone + ' fa-3x'"></i>
                </button>
                <div style="font-weight: bold; text-transform: uppercase; font-size: 10pt;">
                    {{ menu.nome }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['menu','index'],
}
</script>