<template>
    <div>
         <buttonAba v-for="(menu,index) in menus" :key="menu.id" :menu="menu" :index="index"/>
    </div>
</template>

<script>
export default {
    data() {
        return {
            menus: []
        }
    },
    created() {
        this.$externalService.get('submenu.onlyActive', {}, data => this.menus = data.data );
    },
}
</script>
