<template>
    <div ref="sub" class="aba-container">
        <buttonAba v-for="(menu, index) in menus" :menu="menu" :key="menu.id" :index="index"></buttonAba>
    </div>
</template>

<script>
export default {
    props: ['idmenu'],
    data() {
        return {
            menus: []
        }
    },
    created() {
        let menu = this.idmenu;
        this.$externalService.get('submenu.onlyActive', { menu }, menus => this.menus = menus.data );
    }
}
</script>
