<template>
    <select v-model="value" @change="changeHandle">
        <option value="">{{ titulo }}</option>
        <option v-for="(option,index) in options" :key="index" :value="option.id">{{ option.name }}</option>
    </select>
</template>

<script>
export default {
    props:{
        options: [Object, Array],
        titulo: {
            type: String,
            default: 'Selecione'
        },
        selected: [String,Number,Object,Array]
    },
    data() {
        return {
            value: ""
        }
    },
    watch: {
        $props: {
            immediate: true,
            deep: true,
            handler(e) {
                this.value = e.selected;
            }
        }
    },
    created() {
    },
    methods: {
        changeHandle(event) {
            this.$emit('change',event);
            this.$emit('value',this.value);
        },
        trataSelected(e) {
            return e.descricao;
        }
    },
}
</script>