<template>
    <formusuario @save="save" :haveSave="$permission.get('usuario').can('create')"></formusuario>
</template>
<script>
export default {
    methods: {
        save(values) {
            this.$externalService.post('usuario',values, r=>{
                    this.$notification.show("success","Menu editado com sucesso!");
                    this.$broadcast.$emit('updateUsuario');
                });
        }
    },
}
</script>
