<template>
    <formusuario :dados="dados" @save="save" :haveSave="$permission.get('usuario').can('update')"></formusuario>
</template>
<script>
export default {
    props: ['dados'],
    methods: {
        save(values) {
            this.$externalService.put('usuario',values.id,values, r=>{
                    this.$notification.show("success","Usuário editado com sucesso!");
                    this.$broadcast.$emit('updateUsuario');
                });
        }
    },
}
</script>
