<template>
	<div>
		<dynamicform :shematics="shematics" :dados="dados" :urlokups="lokups" :actionlokups="actionLokups" v-model="values"></dynamicform>
        <div class="form-group col-md-12 mx-4">
            <btn type="primary" size="sm" v-if="haveSave" @click="save()">Salvar</btn>
        </div>
	</div>
</template>
<script>
export default {
	props: {
		dados: {
			type: Object,
			default: () => ({})
		},
		haveSave:{
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			shematics: require("./json/shematics.json"),
			values: {},
			lokups: [
				{
                    target: 'perfil',
                    request: ()=>{
                        return this.$externalService.getData('selectperfil');
                    }
                },
			],
			actionLokups: [],
		}
	},
	methods: {
		save() {
			console.log(this.values);
			this.$emit('save', this.values);
		}
	},
}
</script>
