<template>
<div class="container">
    <div class="mb-2 content">
        <div class="row">
            <div class="col-md-4">
                <h1 class="h3 mt-0">Menus</h1>
            </div>
            <div class="col-md-8">
                <div class="float-right">
                    <btn type="primary" size="xs"
                        v-if="$permission.get('menu').can('create')"
                        @click.prevent="$abaService.addComponent('Criar Menu','createmenu', { dados: { submenu: menu }, menu })">
                        Novo
                    </btn>
                </div>
            </div>
        </div>
    </div>
    <dtable
        :dados="dados"
        :headers="headers"
        :columns="columns"
        :classTh="'text-dark text-uppercase'"
        id="tb_ocorrencia_list"
        class="table table-hover table-sm table-striped tbcrm contentx"></dtable>
</div>
</template>
<script src="./Menu.js"></script>
