<template>
<div class="container">
    <div class="mb-2 content">
        <div class="row">
            <div class="col-md-4">
                <h1 class="h3 mt-0">Permissão</h1>
            </div>
            <div class="col-md-8">
                <div class="float-right">
                    <btn type="primary" v-if="$permission.get('permissao').can('update')" size="xs" @click.prevent="$abaService.addComponent('Criar Permissão','createpermissao',{ dados: filter })">
                        Novo
                    </btn>
                </div>
            </div>
        </div>
    </div>
    <div>
        <dtable
            :dados="dados"
            :headers="headers"
            :columns="columns"
            :classTh="'text-dark text-uppercase'"
            id="tb_ocorrencia_list"
            :totalPage="totalPage"
            v-model="currentPage"></dtable>
    </div>
</div>
</template>
<script src="./Permissao.js"></script>
