<template>
    <div class="card">
        <div class="table-responsive height shadow mb-4">
            <table
                class="table table-hover table-sm table-striped tbcrm contentx">
                <thead v-if="headers.length > 0">
                    <th
                        v-for="(header, index) in headers"
                        :key="index"
                        :class="classTh"
                    >
                        {{ header }}
                    </th>
                </thead>
                <tbody v-if="dados.length > 0">
                    <tr v-for="(dado, index) in dados" :key="index">
                        <td v-for="(column, _index) in columns" :key="_index">
                            <span v-if="trataCan(column)">
                                <span v-if="getTypeColumn(column) == 'object'">
                                    <component
                                        :is="column.component"
                                        v-bind="
                                            column.chaves
                                                ? column.chaves(dado)
                                                : {}
                                        "
                                        @click="
                                            column.event.click
                                                ? column.event.click(dado)
                                                : false
                                        "
                                    >
                                        <span v-html="column.title"></span>
                                    </component>
                                </span>
                                <span v-else>
                                    <div
                                        v-html="getContent(dado, column)"
                                    ></div>
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tfoot v-else>
                    <td :colspan="headers.length" class="py-4 h3 text-center">
                        A lista está vazia
                    </td>
                </tfoot>
            </table>
            <div v-if="animationVisible" class="text-center text-primary py-4">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
        </div>
        <div class="row" v-if="footer">
            <div class="col-md-2">
                <label for="perpage">Visualizar</label>
                <select
                    id="perpage"
                    v-model="perPageSelect"
                    class="form-control"
                    @change="handlerChange()"
                >
                    <option v-for="(viewTotal,index) in viewTotals"
                        :key="index"
                        :value="viewTotal">{{ viewTotal }}</option>
                </select>
            </div>
            <div class="col-md-8" style="padding-top: 5px; display: flex">
                <pagination
                    v-model="page"
                    :total-page="totalPage"
                    :max-size="5"
                />
            </div>
        </div>
    </div>
</template>

<script src="./DTable.js" />

<style scoped>
thead {
    cursor: pointer;
}
</style>
