<template>
    <formperfil @save="save" :haveSave="$permission.get('perfil').can('create')"></formperfil>
</template>
<script>
export default {
    methods: {
        save(values) {
            this.$externalService.post('perfil',values, r=>{
                    this.$notification.show("success","Perfil criado com sucesso!");
                    this.$broadcast.$emit('updatePerfil');
                });
        }
    },
}
</script>
