<template>
    <formperfil :dados="dados" @save="save" :haveSave="$permission.get('perfil').can('update')"></formperfil>
</template>
<script>
export default {
    props: ['dados'],
    methods: {
        save(values) {
            this.$externalService.put('perfil',values.id,values, r=>{
                    this.$notification.show("success","Perfil editado com sucesso!");
                    this.$broadcast.$emit('updatePerfil');
                });
        }
    },
}
</script>
