<template>
	<div>
		<dynamicform :shematics="shematics" :dados="dados" :urlokups="lokups" :actionlokups="actionLokups" v-model="values"></dynamicform>
        <div class="form-group col-md-12 mx-4">
            <btn v-if="haveSave" type="primary" size="sm" @click="save()">Salvar</btn>
        </div>
	</div>
</template>
<script src="./FormPerfil.js"></script>