<template>
  <div class="float-right ml-2">
    <btn type="primary" size="xs" @click="modalExport = true">Exportar</btn>
    <modal v-model="modalExport" title="Exportar a tabela">
      <div class="text-center">
        <btn
          v-for="(button, index) in buttons"
          :key="index"
          class="mr-1"
          type="success"
          @click="actionPerform(button.type)"
          >{{ button.alias.toUpperCase() }}</btn
        >
      </div>
    </modal>
  </div>
</template>

<script src="./Exports.js"></script>
